---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

## In revision
- Moussallam, Y., Georgeais, G., Ding, S., … **Peccia, A.**, et al. **On the oxidation state of arc magmas.** *Geochemical Perspectives Letters* (in revision).【:contentReference[oaicite:6]{index=6}】

## Manuscripts in preparation
- **Peccia, A.**, Plank, T., Ding, S., Bolge, L., Aiuppa, A., Vizzini, S., et al. **Sulfur recycling and the redox budget of subduction zones.** (in prep for *EPSL*).【:contentReference[oaicite:7]{index=7}】
- **Peccia, A.** & Plank, T. **Element recycling puts an upper limit on arc magma flux.** (in prep for *Geology*).【:contentReference[oaicite:8]{index=8}】
- **Peccia, A.**, Tramontano, S., Holmberg, K., Caro, F., Basso, E. **Volcanologist’s Guide to the Metropolitan Museum of Art.** (in prep for MET Education Program).【:contentReference[oaicite:9]{index=9}】

---

## Journal articles
{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %}


